[user]
	email = ed@edtheron.me
	name = Edouard Theron
[core]
	excludesfile = ~/.gitignore_global
	attributesfile = ~/.gitattributes_global
	autocrlf = input
	editor = vim
[push]
	default = simple
	autoSetupRemote = true
[merge]
	ff = false
[alias]
	  # https://coderwall.com/p/euwpig/a-better-git-log
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	last = log -1 HEAD
[pager]
	branch = false
	tag = false
[pull]
	rebase = true
[rebase]
	autoStash = true
[init]
	defaultBranch = master
